/* Fonts */
/* Roboto 300 */
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/* Roboto 400 */
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* Roboto 500 */
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/* Roboto 600 */
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/* Roboto 700 */
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
/* Colors */
:root{
    --bg-blue: #1992d4;
    --bg-grey: #e2e8f0;
    --bg-avatar: #facc15;
    --color-orange: #f0b429;
}

body{
    font-family: Roboto, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}